<p id="notice"><%= notice %></p>

<div class="displayoption"><%save_options = [['Most Recent','videomasterindex/mostrecent'],['Most Upvoted','videomasterindex/mostupvoted'],['Alphabetical','videomasterindex/alphabetical']]%>
<%= select_tag "store-selects", options_for_select(save_options),:onchange => "self.location='/'+this.options[this.selectedIndex].value", class: "your_class" %>
</div>

<%= render 'index' %>